<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513001307026-le8rc14up55lfnh422ddlf6tskv3g3sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513001307026-le8rc14up55lfnh422ddlf6tskv3g3sv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNh-EuhjHKElWBcwh4Uy4RCigJlDRhX1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>513001307026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucthoisang.ChildKid</string>
	<key>PROJECT_ID</key>
	<string>childkit-56ebf</string>
	<key>STORAGE_BUCKET</key>
	<string>childkit-56ebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513001307026:ios:4775538bf0cf30eb</string>
	<key>DATABASE_URL</key>
	<string>https://childkit-56ebf.firebaseio.com</string>
</dict>
</plist>